{{#if row}}

  <div class="row">
    <div class="{{col}}">
      
      {{#each children as |component|}}
        {{component component.type data=component}}
      {{/each}}

    </div>
  </div>

{{else if col}}
  
  <div class="{{col}}">
  
    {{#each children as |component|}}
      {{component component.type data=component}}
    {{/each}}

  </div>

{{else}}

  {{#each children as |component|}}
    {{component component.type data=component}}
  {{/each}}

{{/if}}
